<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/HP/IdeaProjects/myhomework-aqa-java/MyHomeworkProjct/src/test"><classes><class name="basket.BasketTests"><methods><include name="testItemPrice"/><include name="testItemName"/><include name="testItemSumAndAmount"/></methods></class></classes></test></suite>