<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/HP/IdeaProjects/myhomework-aqa-java/MyHomeworkProjct/src/test">
        <classes><class name="android_tests.CalculatorTest">
            <methods>
                <include name="testAddition"/>
                <include name="testDeduction"/>
                <include name="testMultiplication"/>
                <include name="testDivision"/>
                <include name="testDivisionByZero"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>